# 1) Pattern 1:

5 5 5 5 5
5 5 5 5
5 5 5 
5 5 
5

In [4]:
n = int(input("enter number of rows: "))
for i in range(1,n+1):
    for j in range(1,(n+1)-i):
        print("5",end=" ")
    print()

enter number of rows: 6
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

# 2) Pattern 2:

0 1 2 3 4 5 
0 1 2 3 4
0 1 2 3
0 1 2 
0 1

In [5]:
n = int(input("Enter number of rows: "))
for i in range(1,n+1):
    k=2
    print(0,1,end=" ")
    for j in range(1,(n+1)-i):
        print(k,end=" ")
        k+=1
    print()

Enter number of rows: 6
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

# 3) Pattern 3:

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [7]:
n = int(input("Enter number of rows: "))
k=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end=" ")
    k=k+2
    print()

Enter number of rows: 7
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9
11 11 11 11 11 11
13 13 13 13 13 13 13

# 4) Pattern 4:

1
2 1 
3 2 1 
4 3 2 1
5 4 3 2 1

In [9]:
n = int(input("Enter number of rows: "))
for i in range(0, n ):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

Enter number of rows: 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# 5) Pattern 5:

1
3 2
6 5 4
10 9 8 7

In [11]:
n = int(input("Enter number of rows: "))
k=0
for i in range(0,n):
    for j in range(1,i+1):
        print(k,end=" ")
        k-=1
    k=k+(2*i)+1
    print()

Enter number of rows: 5

1
3 2
6 5 4
10 9 8 7

# 6) Pattern 6:

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [12]:
def fact(n):
    f = 1
    for i in range(1, n + 1):
        f = f * i
    return f

n = int(input("Enter number of rows: "))
for i in range(0, n):
    for k in range(0, i + 1): 
        coef=int(fact(i) / (fact(k) * fact(i - k))) 
        print("%3d"%coef, end="")
    print()

Enter number of rows: 7
  1
  1  1
  1  2  1
  1  3  3  1
  1  4  6  4  1
  1  5 10 10  5  1
  1  6 15 20 15  6  1

# 7) Pattern 7:

1 2 3 4 5 
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5 
5 5 5 5 5

In [13]:
n = int(input("Enter number of rows: "))
for i in range(1, n+1 ):
    for j in range(1,n+1):
        if(j>i):
            print(j,end=" ")
        if(j<=i):
            print(i,end=" ")
    print()

Enter number of rows: 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

# 8) Pattern 8:

1
2  4 
3  6  9 
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

In [14]:
n=int(input("Enter number of rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i*j,end=" ")
        
    print()

Enter number of rows: 8
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

# 9) Pattern 9:

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [19]:
n=int(input("Enter number of rows: "))
space=n
for i in range(1,n+1):
    for j in range(1,space-1):
        print(" ",end=" ")
    for j in range(1,(n+1)-i):
        print("*",end="   ")
    space+=1
    print()

Enter number of rows: 7
          *   *   *   *   *   *
            *   *   *   *   *
              *   *   *   *
                *   *   *
                  *   *
                    *

# 10) Pattern 10:

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [20]:
n=int(input("Enter number of rows: "))
space=n
for i in range(1,n+1):
    for j in range(1,space):
        print(" ",end=" ")
    for j in range(1,i+1):
        print("*",end="   ")
    space-=1
    print()

Enter number of rows: 7
            *
          *   *
        *   *   *
      *   *   *   *
    *   *   *   *   *
  *   *   *   *   *   *
*   *   *   *   *   *   *

# 11) Pattern 11:

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [21]:
n=int(input("Enter number of rows: "))
# first pattern
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
    
print()   
# second pattern
for i in range(n+1,0,-1):
    for j in range(0,i-1):
        print("*",end=" ")
    print()

Enter number of rows: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

# 12) Patter 12:

* 
* * 
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [22]:
n=int(input("Enter number of rows: "))
# first pattern
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
    
# second pattern
for i in range(n,0,-1):
    for j in range(0,i-1):
        print("*",end=" ")
    print()

Enter number of rows: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

# 13) Pattern 13:

        * 
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [24]:
n=int(input("Enter number of rows: "))
k=2*n-2
#first pattern
for i in range(0,n-1):
    for _ in range(0,k):
        print(end=" ")
    k=k-2
    for j in range(0,i+1):
        print("*",end=" ")
    print()
k=-1
    
#second pattern
for i in range(n-1,-1,-1):
    for _ in range(k,-1,-1):
        print(end=" ")
    k=k+2
    for j in range(0,i+1):
        print("*",end=" ")
    print()

Enter number of rows: 5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

# 14) Pattern 14:

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [27]:
n=int(input("Enter number of rows: "))
k = n - 2
for i in range(n, -1 , -1):
    for j in range(k , 0 , -1):
        print(end=" ")
    k = k + 1    
    for j in range(0, i+1):
        print("* " , end="")
    print()
k = 2 * n  - 2
for i in range(0 , n+1):
    for j in range(0 , k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print()

Enter number of rows: 4
  * * * * *
   * * * *
    * * *
     * *
      *
      *
     * *
    * * *
   * * * *
  * * * * *

# 15) Pattern 15:

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*

In [29]:
n=int(input("Enter number of rows: "))
print("*" * n,end="\n")
i=(n//2) -1
j=2
while i!=0:
    while j<=(n-2):
        print("*" * i,end="")
        print("_" * j,end="")
        print("*" * i,end="\n")
        i=i-1
        j=j+2

Enter number of rows: 16
****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*